.cuerpo {
    width: 100%;
}
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuerpoForm {
    width: 40%;
}
.etiquetaName {
    display: flex;
    font-weight: bold;
}
.check {
    display: flex;
    color: blue;
}